PUBLIC_APP_URL=http://localhost:5173
VITE_PUBLIC_APP_URL=http://localhost:5173
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=
VERIFICATION_REGISTRY_ADDRESS=
VITE_VERIFICATION_REGISTRY_ADDRESS=
BLOCKCHAIN_SIGNER_PRIVATE_KEY=
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
POLYGON_MAINNET_RPC_URL=https://polygon-rpc.com
PAYMENT_BLOCKCHAIN_CHAIN_ID=80002
PAYMENT_BLOCKCHAIN_EXPLORER_URL=https://amoy.polygonscan.com
